* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Calibri", sans-serif;
}

body {
  padding: 10px;
}
body .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.title {
  text-align: center;
  background-color: #cfcfcf;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.info {
  font-size: 12px;
  position: fixed;
  padding: 4px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #fff;
  font-weight: 600;
}
.info span {
  color: #da007f;
}

.filename {
  font-size: 12px;
  margin-top: 10px;
  padding-top: 6px;
  color: grey;
  border-top: 1px solid #e0e0e0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.wrapper #editor {
  resize: none;
  overflow: scroll;
  width: 80%;
  padding: 4px;
  font-family: "Consolas", monospace;
  border: 1px solid #e0e0e0;
}
.wrapper .button-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 4px;
}
.wrapper .button-container #openBtn, .wrapper .button-container #saveBtn, .wrapper .button-container #saveCurrBtn {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  width: 100%;
}
.wrapper .button-container #openBtn:hover, .wrapper .button-container #saveBtn:hover, .wrapper .button-container #saveCurrBtn:hover {
  cursor: pointer;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  transition: 0.3s all;
  box-shadow: 3px 3px 1px #c0c0c0;
}
.wrapper .button-container #clearBtn {
  background-color: #e7feff;
  border: 1px solid #4cbac0;
  width: 100%;
}
.wrapper .button-container #clearBtn:hover {
  cursor: pointer;
  border: 1px solid #3e9397;
  background-color: #bafcff;
  transition: 0.3s all;
  box-shadow: 3px 3px 1px #c0c0c0;
}
.wrapper .button-container #exitBtn {
  background-color: #ffeeee;
  border: 1px solid #ff9999;
  color: #ff0000;
  width: 100%;
}
.wrapper .button-container #exitBtn:hover {
  cursor: pointer;
  background-color: #ffd0d0;
  border: 1px solid #ff0000;
  transition: 0.3s all;
  box-shadow: 3px 3px 1px #c0c0c0;
}

.cmd-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cmd-button-container .cmd-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cmd-button-container .cmd-input #inpCommand {
  height: -moz-max-content;
  height: max-content;
  width: 400px;
  padding: 6px;
  font-family: "Consolas", monospace;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.cmd-button-container #cmdBtnIPConfig, .cmd-button-container #cmdBtnCustom {
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
}
.cmd-button-container #cmdBtnIPConfig:hover, .cmd-button-container #cmdBtnCustom:hover {
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 3px 3px 1px #c0c0c0;
  background-color: #e7ffd8;
  border: 1px solid #4cc700;
}

.result-display {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
.result-display #cmd-title {
  font-weight: 600;
  padding: 4px;
  background-color: #cfcfcf;
}
.result-display #cmd-display {
  margin-top: 4px;
  font-family: "Consolas", monospace;
  max-height: 300px;
  font-size: 12px;
  overflow-y: scroll;
}

button {
  margin: 4px 10px;
  padding: 8px 10px;
  font-size: inherit;
  transition: 0.3s all;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */